@use '@/v.scss';

* {
  padding: 0;
  margin: 0;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  list-style: none;
  flex-wrap: wrap;
  scrollbar-color: v.$b2 v.$b;
  scrollbar-width: thin;
}
body {
  background-color: v.$b;
  color: v.$w;
}
.all {
  display: flex;
  gap: 20rem;
  flex-direction: column;
}