@use '@/v.scss';

* {
  padding: 0;
  margin: 0;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  list-style: none;
}
body {
  background-color: v.$b;
  color: v.$w;
}
.all {
  display: flex;
  gap: 20rem;
  flex-direction: column;
}