@use '@/v.scss';

* {
  transition: all .25s ease-out;
  box-sizing: border-box;
}

// Text
@mixin text($n, $font) {
  font-size: 2rem * $n;
  font-family: var($font);
  line-height: 1;
}
.h1 {
  @include text(5, --sfBold);
}
.h2 {
  @include text(4, --sfSemibold);
}
.h3 {
  @include text(3, --sfMedium);
}
.p {
  @include text(2, --sfRegular);
}
.sm {
  @include text(1.5, --sfRegular);
}

// Elements
@mixin bg($bg, $color) {
  background-color: $bg;
  color: $color;
}
@mixin bg-hover($bg, $color) {
  @media (pointer: fine) {
    &:hover {
      @include bg($bg, $color);
    }
  }
}
@mixin ol($color) {
  outline-offset: -1 * v.$outlineWidth;
  outline-width: v.$outlineWidth;
  outline-style: solid;
  outline-color: $color;
  color: $color;
}
@mixin ol-hover($color) {
  @media (pointer: fine) {
    &:hover {
      @include ol($color);
    }
  }
}

// Buttons
.button {
  display: inline-flex;
  padding: 2rem 4rem;
  border-radius: v.$radius;
  cursor: pointer;
  gap: 2rem;
  align-items: center
}

.button-bg-w {
  @include bg(v.$w, v.$b);
  @include bg-hover(v.$w2, v.$b2);
}
.button-bg-a {
  @include bg(v.$a, v.$w);
  @include bg-hover(v.$a2, v.$b);
}
.button-ol-w {
  @include ol(v.$w);
  @include ol-hover(v.$w2);
}
.button-ol-a {
  @include ol(v.$a);
  @include ol-hover(v.$a2);
}

// InputText
.input {
  display: inline-flex;
  padding: 2rem 4rem;
  border-radius: v.$radius;
  cursor: text;
  justify-content: space-between;
  align-items: center;
  --width: 50rem;
  width: var(--width);
  input {
    position: absolute;
    font: inherit;
    color: inherit;
    width: calc(var(--width) - 16rem);
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }
  &.valid span, &:focus-within span  {
    opacity: 0;
  }
}
.input-hint {
  @extend .input;
  &.valid span, &:focus-within span  {
    @extend .sm;
    margin-top: -16rem;
    margin-left: -4rem;
    opacity: 1;
  }
}
.input-password {
  .eye {
    cursor: pointer;
  }
}

.input-bg {
  @include bg(v.$w, v.$b);
  @include bg-hover(v.$w2, v.$b2);
  &.valid span {
    color: v.$w;
  }
  @media (pointer: fine) {
    &.valid:hover span {
      color: v.$w2;
    }
  }
  &:focus-within {
    @include bg(v.$a, v.$w);
    @include bg-hover(v.$a2, v.$b);
    span {
      color: v.$a;
    }
    @media (pointer: fine) {
      &:hover {
        span {
          color: v.$a2;
        }
      }
    }
  }
}
.input-ol {
  @include ol(v.$w);
  @include ol-hover(v.$w2);
  &:focus-within {
    @include ol(v.$a);
    @include ol-hover(v.$a2);
  }
}


// Other inputs
.checkbox-bg {
  @include bg(v.$w, v.$b);
  @include bg-hover(v.$w2, v.$b2);
  &:has(input:checked) {
    @include bg(v.$a, v.$w);
    @include bg-hover(v.$a2, v.$b);
  }
}
.checkbox-ol {
  @include ol(v.$w);
  @include ol-hover(v.$w2);
  &:has(input:checked) {
    @include ol(v.$a);
    @include ol-hover(v.$a2);
  }
}

// Checkbox
.checkbox {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  input {
    display: none;
  }
  svg {
    opacity: 0;
    position: absolute;
    width: inherit;
    height: inherit;
  }
  &:hover svg, &:has(input:checked) svg {
    opacity: 1;
  }
}

// Radio
.radio {
  width: 6rem;
  height: 6rem;
  border-radius: v.$radius;
  cursor: pointer;
  input {
    display: none;
  }
}

// Switch
.switch {
  display: inline-flex;
  width: 12rem;
  height: 6rem;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  border-radius: v.$radius;
  input {
    display: none;
  }
  span {
    width: 4rem;
    height: 4rem;
    background-color: currentColor;
    border-radius: v.$radius;
  }
  &:has(input:checked) span {
    margin-left: 6rem;
  }
}
.link {
  display: inline-flex;
  gap: 2rem;
  text-decoration: none;
}
.link-underline {
  @extend .link;
  &::after {
    background: currentColor;
    bottom: - v.$outlineWidth;
    content: "";
    display: block;
    height: v.$outlineWidth;
    width: 0;
    left: 0;
    position: absolute;
    transition: width .25s ease-out;
  }
  @media (pointer: fine) {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}
.link-w {
  color: v.$w;
  @media (pointer: fine) {
    &:hover {
      color: v.$w2;
    }
  }
}
.link-w2 {
  color: v.$w;
  @media (pointer: fine) {
    &:hover {
      color: v.$a;
    }
  }
}
.link-a {
  color: v.$a;
  @media (pointer: fine) {
    &:hover {
      color: v.$a2;
    }
  }
}